<h1>Appointment List Page</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Doctor</th>
			<th>Patient</th>
			<th>Date</th>
			<th>Description</th>
			<th>Confirmed?</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let appointment of appointmentList">
			<td>{{appointment.doctorUsername}}</td>
			<td>{{appointment.patient.username}}</td>
			<td>{{appointment.date | date: 'dd/MM/yyyy'}}</td>
			<td>{{appointment.description}}</td>
			<td>{{appointment.confirmed}}</td>
			
		</tr>
	</tbody>
</table>   